@charset "utf-8";
/* CSS Document */
*{margin:0px;padding:0px;    font-family: "微软雅黑", "Helvetica Neue",Helvetica,Arial,sans-serif;}
a{text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);color: inherit;}
ul li{list-style-type:none;margin: 0; padding: 0;}
img{border:0px;display:block;}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clear{clear: both;}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */
input{outline: 0;}
body{background:#fff;position: relative;}
.wrap{width:100%;min-width:320px;box-sizing:border-box;margin:0px auto 0px;   padding-bottom: 1.14rem;padding-top: 1.02rem;padding-left: .2rem;padding-right: .2rem;font-size: .24rem;color: #333; }
.head{color: #808080;text-align: center;background: #ff7200;color: #fff;
width: 100%;height:.81rem ;line-height: .81rem;
font-size:.28rem;position: relative;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.head .location{position: absolute;font-size: .75rem;left: .3rem;}
.head .location img{width: .19rem;height: .13rem;margin-top: 1rem;}
.head .search{width: .29rem;height: .29rem;}
.head .search img{width: .29rem;height: .29rem;margin-top: .25rem;position: absolute;right: .29rem;}
.return_img{width: .18rem;height: .32rem;position: absolute;top: .24rem;left: .35rem;}
.head .edit{position: absolute;right: .32rem;}


/*地址*/
.address{position: relative;margin-bottom: .19rem;}
.bg{width: 6.4rem;height: 2.2rem;}
.default{position: absolute;font-size: .24rem;color: #ff7200;top: .95rem;left: .25rem;}
.information{width: 6.4rem;height: 2.2rem;position: absolute;top: 0;left:0;}
.address .name{font-size: .29rem;margin-top: .44rem;margin-left: 1.33rem;width: 3.8rem;color: #333;}
.address .address_address{font-size: .23rem;margin-left: 1.33rem;width: 3.8rem;color: #888888;margin-top: .18rem;}
.button{position: fixed;bottom: .25rem;left: .25rem;width: 5.9rem;height: .7rem;line-height: .7rem;background: #fb6f08;color: #fff;font-size: .24rem;border-radius:.1rem ;text-align: center;}
.button img{display: inline-block;vertical-align: middle;width: .28rem;height: .28rem;padding-right: .1rem;position: relative;top: -.02rem;}
.button a{display: block;}
