@charset "utf-8";
/* CSS Document */
*{margin:0px;padding:0px;    font-family: "微软雅黑", "Helvetica Neue",Helvetica,Arial,sans-serif;}
a{text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);color: inherit;}
ul li{list-style-type:none;margin: 0; padding: 0;}
img{border:0px;display:block;}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clear{clear: both;}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */
input{outline: 0;}
body{background:#f4f4f4;position: relative;}
.wrap{width:100%;min-width:320px;margin:0px auto 0px;   padding-bottom: 1.14rem;padding-top: .81rem; }
.head{color: #808080;text-align: center;background: #ff7200;color: #fff;
width: 100%;height:.81rem ;line-height: .81rem;
font-size:.28rem;position: relative;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.head .location{position: absolute;font-size: .75rem;left: .3rem;}
.head .location img{width: .19rem;height: .13rem;margin-top: 1rem;}
.head .search{width: .29rem;height: .29rem;}
.head .search img{width: .29rem;height: .29rem;margin-top: .25rem;position: absolute;right: .29rem;}
.return_img{width: .18rem;height: .32rem;position: absolute;top: .24rem;left: .35rem;}
.head .edit{position: absolute;right: .32rem;}


/*说明*/
.rule{background: #fff;font-size: .24rem;margin-bottom: .16rem;border-bottom: 1px solid #dbdbdb;}
.rule p{line-height: .69rem;border-bottom: 1px solid #dbdbdb;padding: 0 .22rem;color: #666666;}
.rule div{padding: .09rem .22rem;color: #aaaaaa;line-height: .42rem;}
.rule .number{color: #ff7200;}
